<h4>English</h4>
<h5>234: {{short-number 234 "en"}}</h5>
<h5>1234: {{short-number 1234 "en"}}</h5>
<h5>1234.12: {{short-number 1234.12 "en"}}</h5>
<h5>19234: {{short-number 19234 "en"}}</h5>
<h5>19634: {{short-number 19634 "en"}}</h5>
<h5>95500: {{short-number 95100 "en"}}</h5>
<h5>101000: {{short-number 101000 "en"}}</h5>
<h5>11119234: {{short-number 11119234 "en"}}</h5>
<h5>-1234: {{short-number -1234 "en"}}</h5>
<h5>-1934: {{short-number -1934 "en"}}</h5>
<h5>-19234: {{short-number -19234 "en"}}</h5>
<h5>-19634: {{short-number -19634 "en"}}</h5>
<h5>-11119234: {{short-number -11119234 "en"}}</h5>

{{outlet}}

<h4>Spanish</h4>
<h5>234: {{short-number 234 "es"}}</h5>
<h5>1234: {{short-number 1234 "es"}}</h5>
<h5>19234: {{short-number 19234 "es"}}</h5>
<h5>19634: {{short-number 19634 "es"}}</h5>
<h5>11119234: {{short-number 11119234 "es"}}</h5>
<h5>-1234: {{short-number -1234 "es"}}</h5>
<h5>-1934: {{short-number -1934 "es"}}</h5>
<h5>-19234: {{short-number -19234 "es"}}</h5>
<h5>-19634: {{short-number -19634 "es"}}</h5>
<h5>-11119234: {{short-number -11119234 "es"}}</h5>

<h4>Other</h4>
<h5>"1234.12": {{short-number "1234.12" "en"}}</h5>
<h5>"1234": {{short-number "1234" "en"}}</h5>
<h5>"19634": {{short-number "19634" "es"}}</h5>
<h5>"-19634": {{short-number "-19634" "es"}}</h5>
